environment: {{ environment }}
{% if experimentName is defined %}
experimentName: {{ experimentName }}
{% endif %}
model: "{{ model | default('RSM') }}"
mlplatformS3Bucket: "{{ mlplatformS3Bucket | default('thetradedesk-mlplatform-us-east-1') }}"
embeddingRecentVersion: "{{ embeddingRecentVersion | default(None) }}"
anchorStartDate: "{{ anchorStartDate | default('2025-03-05') }}"
smoothFactor: {{ smoothFactor | default(30.0) }}
locationFactor: {{ locationFactor | default(0.8) }}
baselineHitRate: {{ baselineHitRate | default(1E-8) }}
recursiveWeight: {{ recursiveWeight | default(0.1) }}
writeMode: "{{ writeMode | default('overwrite') }}"
tmpNonSenEmbeddingDataS3Path: "{{ tmpNonSenEmbeddingDataS3Path | default('configdata/' ~ data_namespace ~ '/audience/embedding_temp/RSMV2/nonsensitive/v=1') }}"
tmpSenEmbeddingDataS3Path: "{{ tmpSenEmbeddingDataS3Path | default('configdata/' ~ data_namespace ~ '/audience/embedding_temp/RSMV2/sensitive/v=1') }}"
inferenceDataS3Path: "{{ inferenceDataS3Path | default('data/' ~ data_namespace ~ '/audience/RSMV2/prediction') }}"
