environment: {{ environment }}
{% if experimentName is defined %}
experimentName: {{ experimentName }}
{% endif %}
model: "{{ model | default('RSMV2') }}"
tag: "{{ tag | default('Seed_None') }}"
version: {{ version | default(1) }}
lookBack: {{ lookBack | default(3) }}
date: "{{ date | default(run_date) }}"
startDate: "{{ startDate | default('2025-02-13') }}"
oosDataS3Bucket: "{{ oosDataS3Bucket | default('thetradedesk-mlplatform-us-east-1') }}"
subFolderKey: "{{ subFolderKey | default('mixedForward') }}"
subFolderValue: "{{ subFolderValue | default('Calibration') }}"
oosDataS3Path: "{{ oosDataS3Path | default('data/' ~ data_namespace ~ '/audience/RSMV2/Seed_None/v=1') }}"

audienceJarBranch: "{{ audienceJarBranch | default('master') }}"
audienceJarVersion: "{{ audienceJarVersion | default('latest') }}"
