job_name: CalibrationInputDataGeneratorJob
environment: {{ environment }}
model: "{{ model | default('RSMV2') }}"
tag: "{{ tag | default('Seed_None') }}"
version: {{ version | default(1) }}
lookBack: {{ lookBack | default(3) }}
startDate: "{{ startDate | default('2025-02-13') }}"
oosDataS3Bucket: "{{ oosDataS3Bucket | default('thetradedesk-mlplatform-us-east-1') }}"
oosDataS3Path: "{{ oosDataS3Path | default('data/' ~ ttd_write_env ~ '/audience/RSMV2/Seed_None/v=1') }}"
calibrationOutputDataS3Path: "{{ calibrationOutputDataS3Path | default('data/' ~ ttd_write_env ~ '/audience/RSMV2/Seed_None/v=1') }}"
subFolderKey: "{{ subFolderKey | default('mixedForward') }}"
subFolderValue: "{{ subFolderValue | default('Calibration') }}"
